<mat-form-field>
  <mat-select>
    <mat-option>Select </mat-option>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
